<ng-container>

  <div fxLayout="column" fxLayoutAlign="space-between center">
    <h1>Messages</h1>
    <br>

    <div *ngFor="let message of messages, let i = index" fxLayoutAlign="space-between">
      <mat-card>
        <img
          mat-card-lg-image
          *ngIf="message.image"
          [src]="message.image | image"
          alt="image of message + {{ message.image }}">
        <p># {{i +1}} / <strong>{{ message.datetime }}</strong></p>
        <mat-card-title-group>

          <mat-card-title> {{ message.author | anon }}</mat-card-title>
        </mat-card-title-group>
        <mat-card-content>
          {{ message.message }}
        </mat-card-content>
      </mat-card>
    </div>
    <br>
  </div>

</ng-container>
