<h1>New posts</h1>
  <div fxLayout="row" fxLayoutAlign="space-around center">

    <mat-card>
      <form
        (ngSubmit)="onSubmit()"
        fxLayout="row wrap space-between center"
        #f="ngForm"
        fxFlex.xs="25%"
        fxFlex.sm="33%"
        fxFlex.md-lt="50%"
        fxFlex.lt-lg="100%"
        fxFlex="100%"
      >
        <mat-form-field appearance="outline">
          <mat-label>Author</mat-label>
          <input type="text" name="author" matInput ngModel>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Message</mat-label>
          <textarea
            name="message"
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            required
            ngModel
          ></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Image</mat-label>
          <app-file-input ngModel name="image"></app-file-input>
        </mat-form-field>

        <div>
      <span class="button">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="f.invalid"
      >SEND</button>
        </span>
        </div>
      </form>
    </mat-card>
  </div>
